.btn-toggle {
    padding: .5rem 1rem;
    margin-left: auto;
    margin-bottom: .5rem;
    border-radius: 20px;    
    width: 100px;
    text-align: center;
    cursor: pointer;
    color: white;
    font-weight: 700;
}